body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}
nav {
    font-size: 1.5em;
    display:flex;
    justify-content:space-between;
}

ul{
    flex:1;     
    max-width: 50%;
    display:flex;
    justify-content: space-around;

}
nav ul {
    display: flex;
    justify-content: space-evenly;
}
ul,li {
    display: inline;
    margin: 0;
    padding: 0;
}

@media(max-width:655px){
    h1{
        font-size: 3em;
    }
}

@media(max-width:610px){
    nav ul{
        flex-direction: column;
    }
}
@media(max-width:400px){
    nav{
        flex-direction: column;
        justify-content: center;
    }
}


