<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1 style="color:red;background-color: yellow;">
        This is dynamic template...
        <%= console.log("This is ejs file hahah..... " )%>
    </h1>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti, hic facere impedit aspernatur consectetur quae placeat similique tenetur ipsum? Voluptatem impedit facere, dolores nesciunt doloremque quos aperiam facilis voluptas cum!
        Suscipit accusantium, expedita excepturi iste maxime corrupti nobis eum. Deleniti fuga autem non rem, doloremque atque, repudiandae cumque nemo, eos accusantium maxime perspiciatis. Fugit ipsum cupiditate quis alias a aliquam?
        Hic culpa optio perspiciatis. Beatae ipsam sequi consequatur est. Esse cumque cum rerum rem doloremque doloribus nostrum alias quis error, optio, aliquam sequi mollitia. Error temporibus hic tenetur quo a!
    </p>
</body>
</html>